@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .spinner {
    width: 48px;
    height: 48px;
    border: 4px solid #ccc;
    border-top-color: blue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100hv;
  }